* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
}

body:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #128ff2;
    content: "";
    z-index: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

input {
    font-size: 1rem;
}

input[type="file"] {
    border: 1px solid #128ff2;
    padding: 6px;
    max-width: 100%;
}

.file-input {
    width: 100%;
}

.submit-btn {
    display: block;
    margin-top: 15px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    }
}


.upload-container {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
      margin-top: 60px;
      min-height: 400px;
      position: relative;
      padding: 20px;
}

.upload-header {
    border-bottom: 1px solid #ececec;
}

.upload-header h2 {
    font-weight: 500;
}

.single-upload {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
}

.page {
    padding: 15px 0 0;
}

.bmd-modalButton {
    display: block;
    margin: 15px auto;
    padding: 5px 15px;
}

.close-button {
    overflow: hidden;
}

.bmd-modalContent {
    box-shadow: none;
    background-color: transparent;
    border: 0;
}

.bmd-modalContent .close {
    font-size: 30px;
    line-height: 30px;
    padding: 7px 4px 7px 13px;
    text-shadow: none;
    opacity: .7;
    color:#fff;
}

.bmd-modalContent .close span {
    display: block;
}

.bmd-modalContent .close:hover,
.bmd-modalContent .close:focus {
    opacity: 1;
    outline: none;
}

.bmd-modalContent iframe {
    display: block;
    margin: 0 auto;
}

#tsc_player {
    z-index: 9999;
}

.tscplayer_inline {
    position:static;
    margin: 30px;
    width: 852px;
    height: 480px;
    z-index:auto;
}

.tscplayer_fullframe {
    position:absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
}

@media screen and (max-width: 852px) {
    .tscplayer_inline {
        width: 100%;
    }
}

body {
    padding-top: 50px;
}

/*modal fullscreen */

.modal.modal-fullscreen {
    /* Maximize the main wrappers on the screen */
    /* Make the parent wrapper of the modal box a full-width block */
    /* Remove borders and effects on the content */
    /**
       * /!\ By using this feature, you force the header and footer to be placed
       * in an absolute position. You must handle by yourself the margin of the
       * content.
       */
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration:0.6s;
}
.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    /* change bg color below */
    /* background:#1abc9c; */
}
.modal.modal-fullscreen.force-fullscreen {
    /* Remove the padding inside the body */
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
}

.close {
    float: right;
    font-size: 81px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    right: 50%;
    position: relative;
    background: #000 !important;
    z-index: 1111111;
}